<div class="flex justify-between items-center w-full">
  <div>
    <img src="/assets/images/kimbo.png" alt="Logo" class="h-20">
  </div>

  <div class="flex space-x-4">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold"><img src="/assets/images/france.png" alt="Français" class="w-8 h-8 pt-2"></mat-button-toggle>
      <mat-button-toggle value="italic"><img src="/assets/images/usa.png" alt="English" class="w-8 h-8 pt-2"></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="flex justify-center items-center">
  <h1 class="pt-4 font-bold text-center text-2xl md:text-4xl lg:text-5xl font-sans">
    FORMULAIRE D'ENREGISTREMENT DE VOTRE STRUCTURE MEDICALE
  </h1>
</div>
