
<div class="container mx-auto px-4 pb-10">
  <!-- <h1 class="text-2xl font-bold mb-4">{{ title }}</h1> -->
  <div class="flex items-center mb-4">
    <input type="radio" id="24/7" name="hours" value="24/7" (change)="selectOption('24/7')">
    <label for="24/7" class="ml-2">Tous les jours 24h/24</label>
  </div>
  <div class="flex items-center mb-4">
    <input type="radio" id="8h/17h" name="hours" value="8h/17h" (change)="selectOption('8h/17h')">
    <label for="8h/17h" class="ml-2">Du lundi au vendredi de 8h à 17h</label>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let day of days; let i = index" class="border p-2 rounded-md">
      <h2 class="text-xl font-semibold">{{ day }}</h2>
      <input type="text" [(ngModel)]="hours[i]" class="mt-2 border rounded-md p-2 w-full focus:border-blue-500 border-gray-200 focus:outline-none focus:bg-white focus:border-blue-500">
    </div>
  </div>
</div>
