<div class="text-sm pt-10">
  <p class="text-red-500"><span class="font-bold">*</span> Veuillez remplir tous les champs avec *</p>
  <p class="text-orange-500"><span class="font-bold">!</span> Ajoutez au moins une image</p>
</div>

<div class="space-y-2">
  <label class="flex items-start">
    <input type="checkbox" class="mt-1 h-4 w-4 border-gray-300 rounded text-blue-600 focus:ring-blue-500" required>
    <span class="ml-2 text-gray-700 text-sm">
      Je reconnais en soumettant ce formulaire que j'entre dans le processus de sélection des structures médicales de KimboCare.
    </span>
  </label>

  <label class="flex items-start">
    <input type="checkbox" class="mt-1 h-4 w-4 border-gray-300 rounded text-blue-600 focus:ring-blue-500" required>
    <span class="ml-2 text-gray-700 text-sm">
      Je reconnais toutes les informations soumises vérifiées et conformes à la réalité actuelle de ma structure médicale
    </span>
  </label>

  <label class="flex items-start">
    <input type="checkbox" class="mt-1 h-4 w-4 border-gray-300 rounded text-blue-600 focus:ring-blue-500">
    <span class="ml-2 text-gray-700 text-sm">
      Je comprends que mon établissement pourrait être tenu de communiquer aux médecins conseils de KimboCare les données relatives aux patients à des fins de traitement médical et de gestion des soins.
    </span>
  </label>
</div>

<div class="flex justify-center">
  <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    Soumettre
  </button>
</div>
